In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded =files.upload()

In [ ]:
df = pd.read_csv('employees2.csv.csv')

In [ ]:
df.isnull().any()

In [ ]:
df[df['First Name'].isnull()  == 1]

In [ ]:
df['First Name']=df['First Name'].fillna('Unknown')

In [ ]:
df['First Name']

In [ ]:
df=df.fillna({'Gender' : 'No Gender', 'Senior Management' : 'None' , 'Team' : 'No Team'})

In [ ]:
df['Gender']= df['Gender'].replace('No Gender' , 'NA' )

In [ ]:
df

In [ ]:
df['Gender']

In [ ]:
df[df['First Name'] == 'Henry']

In [ ]:
df['Team'].isnull().any()

In [ ]:
df.dtypes

In [ ]:
df.columns

In [ ]:
df['Start Date'] = pd.to_datetime(df['Start Date'], errors='coerce')
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'], errors='coerce').dt.time

df = df.astype({
    'First Name': 'str',
    'Gender': 'str',
    'Salary': 'float',
    'Bonus %': 'float',
    'Senior Management': 'str',
    'Team': 'str'
})

In [ ]:
df.dtypes

In [ ]:
df = pd.read_csv('employees2.csv.csv')

df['Start Date'] = pd.to_datetime(df['Start Date'], errors='coerce')
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'], errors='coerce').dt.time

df = df.astype({
    'First Name': 'str',
    'Gender': 'str',
    'Salary': 'float',
    'Bonus %': 'float',
    'Senior Management': 'str',
    'Team': 'str'
})
df.groupby('Gender')['Salary'].max().to_frame('HighInnGender').reset_index().sort_values('HighInnGender' , ascending = False)

# Task
Analyze the provided employee dataset to understand salary distribution and other key statistics across different categories like gender, team, and senior management status. Calculate and display mean, median, minimum, and standard deviation of salaries by gender. Calculate and display mean salary by 'Team' and 'Senior Management'. Visualize the salary distribution using a histogram of overall salaries and box plots by 'Gender' and 'Team'. Explore the 'bonus %' column by calculating and displaying mean and maximum bonus percentage by 'Gender' and 'Team'. Summarize the findings.

## Calculate and display other salary statistics by gender

### Subtask:
Calculate and display mean, median, minimum, and standard deviation of salaries for each gender.

**Reasoning**:
I need to group the DataFrame by 'Gender' and calculate the mean, median, minimum, and standard deviation of the 'Salary' for each group as per the instructions.

In [ ]:
salary_stats_by_gender = df.groupby('Gender')['Salary'].agg(['mean', 'median', 'min', 'std'])
display(salary_stats_by_gender)

**Reasoning**:
The previous calculation resulted in all zeros, which indicates an issue with the data or the previous steps that converted the 'Salary' column. I need to inspect the 'Salary' column again to understand why this is happening.

In [ ]:
display(df['Salary'].head())
display(df['Salary'].dtype)

**Reasoning**:
The 'Salary' column was incorrectly converted to all zeros in a previous step. I need to reload the original data and perform the type conversions correctly before calculating the salary statistics by gender.

In [ ]:
df = pd.read_csv('employees2.csv.csv')

df['Start Date'] = pd.to_datetime(df['Start Date'], errors='coerce')
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'], errors='coerce').dt.time

df = df.astype({
    'First Name': 'str',
    'Gender': 'str',
    'Salary': 'float',
    'Bonus %': 'float',
    'Senior Management': 'str',
    'Team': 'str'
})

salary_stats_by_gender = df.groupby('Gender')['Salary'].agg(['mean', 'median', 'min', 'std'])
display(salary_stats_by_gender)

## Analyze salaries by other categories

### Subtask:
Calculate and display mean salary by 'Team' and 'Senior Management'.

**Reasoning**:
Calculate and display the mean salary for each team.

In [ ]:
mean_salary_by_team = df.groupby('Team')['Salary'].mean().sort_values(ascending = False)
display(mean_salary_by_team)

**Reasoning**:
Calculate and display the mean salary for each senior management status.

In [ ]:
mean_salary_by_senior_management = df.groupby('Senior Management')['Salary'].mean()
display(mean_salary_by_senior_management)

## Visualize the salary distribution

### Subtask:
Create a histogram of overall salaries and box plots to visualize salary distribution by 'Gender' and 'Team'.

**Reasoning**:
Import the necessary libraries for plotting.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

**Reasoning**:
Create a histogram of the overall salaries to visualize the salary distribution.

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df['Salary'], bins=20, edgecolor='black')
plt.title('Overall Salary Distribution')
plt.xlabel('Salary')
plt.ylabel('Frequency')
plt.show()

**Reasoning**:
Create a box plot to visualize the salary distribution by gender.

In [ ]:
plt.figure(figsize=(8, 6))
sns.boxplot(x='Gender', y='Salary', data=df)
plt.title('Salary Distribution by Gender')
plt.xlabel('Gender')
plt.ylabel('Salary')
plt.show()

**Reasoning**:
Create a box plot to visualize the salary distribution by team and rotate x-axis labels for better readability.

In [ ]:
plt.figure(figsize=(12, 6))
sns.boxplot(x='Team', y='Salary', data=df)
plt.title('Salary Distribution by Team')
plt.xlabel('Team')
plt.ylabel('Salary')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

## Explore the 'bonus %' column

### Subtask:
Calculate and display mean and maximum bonus percentage by 'Gender' and 'Team'.

**Reasoning**:
Calculate and display the mean bonus percentage for each gender.

In [ ]:
mean_bonus_by_gender = df.groupby('Gender')['Bonus %'].mean()
display(mean_bonus_by_gender)

**Reasoning**:
Calculate and display the maximum bonus percentage for each gender.

In [ ]:
max_bonus_by_gender = df.groupby('Gender')['Bonus %'].max()
display(max_bonus_by_gender)

**Reasoning**:
Calculate and display the mean bonus percentage for each team.

In [ ]:
mean_bonus_by_team = df.groupby('Team')['Bonus %'].mean().sort_values(ascending = False)
display(mean_bonus_by_team)

**Reasoning**:
Calculate and display the maximum bonus percentage for each team.

In [ ]:
max_bonus_by_team = df.groupby('Team')['Bonus %'].max().sort_values(ascending = False)
display(max_bonus_by_team)

## Summary:

### Data Analysis Key Findings

*   The mean salary for 'Female' employees is approximately \$101,025.94, for 'Male' is approximately \$99,175.58, and for employees with missing gender information is approximately \$101,514.0.
*   The median salary for 'Female' employees is \$100,450.0, for 'Male' is \$99,500.0, and for employees with missing gender is \$98,700.0.
*   The minimum salary observed across all genders is \$35,000.0.
*   The standard deviation of salaries is similar for 'Female' (\$26,224.1) and 'Male' (\$26,233.7), while it is higher for employees with missing gender (\$27,048.9).
*   The mean salary varies by team, ranging from approximately \$96,825.67 (Distribution) to \$105,700.56 (Business Development).
*   Employees classified as 'True' for Senior Management have a slightly higher mean salary (\$101,577.41) compared to those classified as 'False' (\$99,139.73).
*   The mean bonus percentage is similar across genders, with 'Female' at approximately 9.99%, 'Male' at approximately 10.36%, and missing gender at approximately 10.41%.
*   The maximum bonus percentage is also similar across genders, with 'Female' reaching 19.85%, 'Male' reaching 19.944%, and missing gender reaching 19.49%.
*   Mean bonus percentages vary across teams, from approximately 9.62% (Distribution) to 10.57% (Business Development).
*   Maximum bonus percentages vary by team, with the highest at approximately 19.94% (Legal) and the lowest at approximately 19.26% (Product).

### Insights or Next Steps

*   The salary distribution visualizations indicate potential differences in salary ranges and medians across genders and teams, which could warrant further investigation into factors influencing these variations.
*   While mean and maximum bonus percentages are relatively consistent across gender and team, exploring the distribution and other percentiles of bonus percentages might reveal more nuanced patterns or outliers.

Analyze the distribution of 'Bonus %': Similar to salary, you can look at the overall distribution of bonus percentages using a histogram.
Compare 'Bonus %' across different categories: Calculate the mean, median, or other statistics for 'Bonus %' grouped by 'Team', 'Senior Management', or a combination of categories.
Analyze the relationship between 'Salary' and 'Bonus %': You could create a scatter plot to see if there's any correlation between salary and bonus percentage.
Analyze the 'Start Date' column:
Extract the year, month, or day of the week from the 'Start Date'.
Analyze the number of hires over time (e.g., hires per year or month).
Look for trends in hiring based on team or gender over time.
Analyze the 'Last Login Time' column:
Extract the hour of the day or day of the week from the 'Last Login Time'.
Analyze the distribution of login times.
See if login times vary by team or senior management status.
Analyze the 'Senior Management' column:
Count the number of employees in senior management vs. not.
Analyze the distribution of senior management status within each team.
Analyze the 'Team' column:
Count the number of employees in each team.
Analyze the distribution of gender or senior management status within each team.
Analyze combinations of columns: For example, you could analyze the average salary for male employees in the 'Sales' team, or the average bonus percentage for female employees in senior management.

Analyze the distribution of 'Bonus %': Similar to salary, you can look at the overall distribution of bonus percentages using a histogram.

In [ ]:
df['Bonus %'].plot(kind = 'hist', bins=20, edgecolor='black')
plt.figure(figsize=(10, 6))
plt.xticks(rotation= 45, ha= 'right')
plt.title('Histogram Of Bonus %')
plt.savefig('Histogram Of Bonus %.png')
plt.show()

Compare 'Bonus %' across different categories: Calculate the mean, median, or other statistics for 'Bonus %' grouped by 'Team', 'Senior Management', or a combination of categories

In [ ]:
df.groupby('Team')['Bonus %'].mean().sort_values(ascending = False)

In [ ]:
pd.pivot_table(data = df, values = 'Bonus %', index = 'First Name', columns = 'Salary')

In [ ]:
display(df['Salary'].head())
display(df['Salary'].dtype)

In [ ]:
df = pd.read_csv('employees2.csv.csv')

df['Start Date'] = pd.to_datetime(df['Start Date'], errors='coerce')
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'], errors='coerce').dt.time

df = df.astype({
    'First Name': 'str',
    'Gender': 'str',
    'Salary': 'float',
    'Bonus %': 'float',
    'Senior Management': 'str',
    'Team': 'str'
})

In [ ]:
pd.pivot_table(data = df, values = 'Bonus %', index = 'First Name', columns = 'Team')

**Reasoning**:
Extract the year and month from the 'Start Date' column to analyze hiring trends over time.

In [ ]:
df['Start Year'] = df['Start Date'].dt.year
df['Start Month'] = df['Start Date'].dt.month
display(df[['Start Date', 'Start Year', 'Start Month']].head())

**Reasoning**:
Group by 'Start Year' and 'Start Month' and count the number of hires to see hiring trends over time.

In [ ]:
hires_over_time = df.groupby(['Start Year', 'Start Month']).size().reset_index(name='Number of Hires')
display(hires_over_time)

**Reasoning**:
Extract the hour of the day from the 'Last Login Time' column to analyze the distribution of login times.

In [ ]:
df['Login Hour'] = pd.to_datetime(df['Last Login Time'], format='%H:%M:%S').dt.hour
display(df[['Last Login Time', 'Login Hour']].head())

**Reasoning**:
Visualize the distribution of login hours using a histogram.

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df['Login Hour'], bins=24, edgecolor='black')
plt.title('Distribution of Last Login Hours')
plt.xlabel('Hour of Day')
plt.ylabel('Frequency')
plt.xticks(range(24))
plt.grid(axis='y', alpha=0.75)
plt.show()

**Reasoning**:
Count the number of employees in senior management status (True, False, and nan).

In [ ]:
senior_management_counts = df['Senior Management'].value_counts()
display(senior_management_counts)

**Reasoning**:
Count the number of employees in senior management status within each team.

In [ ]:
senior_management_by_team = df.groupby('Team')['Senior Management'].value_counts()
display(senior_management_by_team)

**Reasoning**:
Count the number of employees in each team.

In [ ]:
team_counts = df['Team'].value_counts()
display(team_counts)

**Reasoning**:
Analyze the distribution of gender within each team.

In [ ]:
gender_distribution_by_team = df.groupby('Team')['Gender'].value_counts()
display(gender_distribution_by_team)

**Reasoning**:
Calculate the average salary for each combination of Gender and Team.

In [ ]:
average_salary_by_gender_team = df.groupby(['Gender', 'Team'])['Salary'].mean().reset_index()
display(average_salary_by_gender_team)